<div class="min-h-screen flex relative lg:static surface-ground">
  <div
    class="surface-section h-screen  flex-shrink-0 fixed left-0 top-0 z-1 border-right-1 surface-border select-none"
    style="width: 280px"
  >
    <div class="flex flex-column h-full">
      <div
        class="flex align-items-center px-5 flex-shrink-0"
        style="height: 60px"
      >
        <img
          src="assets/images/qualco-logo.svg"
          alt="Image"
          height="30"

        />
      </div>
      <div class="overflow-y-auto px-5 py-2 m-0">
        <p-menu [model]="items"></p-menu>

      </div>

    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto" style="margin-left:300px;">
    <div class="p-5 flex flex-column flex-auto">
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
